@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Магазин "Пажилой Миста"<br />
    Харьков, Целиноградская №36 комната 513<br />
    <abbr title="Phone">Телефон:</abbr>
    8-800-555-35-35
</address>

<address>
    <strong>Помощь:</strong> <a href="https://vk.com/kawainyashka">vk.com/kawainyashka/manual</a><br />
    <strong>Няшка:</strong> <a href="https://vk.com/kawainyashka">vk.com/kawainyashka</a>
</address>
